In [12]:
import pandas 

tabela = pandas.read_csv('clientes.csv',encoding='latin')
display(tabela)

     ClienteID;Origem;Idade;Salário Anual (R$);Nota (1-100);Profissão;Experiência Trabalho;Tamanho Família;
0                       1;Normal;19;15000;39;Saúde;1;4;
1                  2;Normal;21;35000;81;Engenheiro;3;3;
2                 3;Promoção;20;86000;2;Engenheiro;1;1;
3                 4;Promoção;23;59000;73;Advogado;0;2;.
4            5;Promoção;31;38000;48;Entretenimento;2;6;
...                                                 ...
1995            1996;Promoção;71;184387;48;Artista;8;7;
1996              1997;Promoção;91;73158;28;Doutor;7;7;
1997                 1998;Normal;87;90961;14;Saúde;9;2;
1998             1999;Normal;77;182109;4;Executivo;7;2;
1999       2000;Normal;90;110610;64;Entretenimento;5;2;

[2000 rows x 1 columns]