In [19]:
import pandas 
# passo 1 : importa a bse de dados
# deletar coluna inutil
# axis = 0  -se for linha axis=1 se for coluna 

# acertas informações que está sendo reconhecida de forma errada 
# corrigir informações vazias
# mudar tipo de dado 
# pandas.to pode mudar para data numeri e tx ou pegar a variavel, 
# tabela ["salario"].astype(str) mudou para string oque era numero 
tabela = pandas.read_csv('clientes.csv',encoding='latin', sep=';')
tabela= tabela.drop("Unnamed: 8", axis=1)
display(tabela)

,ClienteID,Origem,Idade,Salário Anual (R$),Nota (1-100),Profissão,Experiência Trabalho,Tamanho Família
0,1,Normal,19,15000,39,Saúde,1,4
1,2,Normal,21,35000,81,Engenheiro,3,3
2,3,Promoção,20,86000,2,Engenheiro,1,1
3,4,Promoção,23,59000,73,Advogado,0,2
4,5,Promoção,31,38000,48,Entretenimento,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Promoção,71,184387,48,Artista,8,7
1996,1997,Promoção,91,73158,28,Doutor,7,7
1997,1998,Normal,87,90961,14,Saúde,9,2
1998,1999,Normal,77,182109,4,Executivo,7,2
1999,2000,Normal,90,110610,64,Entretenimento,5,2

In [27]:
print(tabela.info())
tabela  ["Salário Anual (R$)"] = pandas.to_numeric(tabela["Salário Anual (R$)"], errors="coerce")
# ver informações vazias
# display(tabela["profissão"].isna())
# corrigir informações vazias apagas as informações vazias
tabela = tabela.dropna()
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ClienteID             1965 non-null   int64
 1   Origem                1965 non-null   object
 2   Idade                 1965 non-null   int64
 3   Salário Anual (R$)    1965 non-null   float64
 4   Nota (1-100)          1965 non-null   int64
 5   Profissão             1965 non-null   object
 6   Experiência Trabalho  1965 non-null   int64
 7   Tamanho Família       1965 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 138.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ClienteID             1965 non-null   int64
 1   Origem                1965 non-null   object
 2   Idade                 1965 non-null   int64
 3   Salário Anual (R$)    1965 non-null   float64
 4   Nota (1-100)          1965 non-null   int64
 5   Profissão             1965 non-null   object
 6   Experiência Trabalho  1965 non-null   int64
 7   Tamanho Família       1965 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 138.2+ KB
None

C:\Users\lucas\AppData\Local\Temp\ipykernel_2356\3511021895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela  ["Salário Anual (R$)"] = pandas.to_numeric(tabela["Salário Anual (R$)"], errors="coerce")